body {
  background-color: #F7F8FA;
  padding: 12px;
}

/* --------------- Search Bar Component -----------------*/

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  transform: translateY(60%);
  left: 12px;
  color: lightgray;
}

.search-bar {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 12px 30px;
  outline: none;
}

/* -------------- Categories Component ---------------- */

.categories-container {
  display: flex;
  color: gray;
  margin: 1rem 0;
}

.categories-container button {
  border: 1px solid #FFC700;
  padding: 10px 15px;
  font-weight: 600;
}

.categories-container button:hover{
  color: white;
  background-color: #FFC700;
}

.categories-container button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.categories-container button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.selected{
  background-color: #FFC700;
  color: white;
}

/* ------------- Items Component -------------- */

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.show-btn{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.showmore {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #FFC700;
  background-color: white;
  font-weight: 600;
}

.showmore:hover{
  color: white;
  background-color: #FFC700;
}